body {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


#result {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  background: #444;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

button {
  padding: 10px;
  font-size: 18px;
  background: #555;
  border: none;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #777;
}

.calculator .operator {
  padding: 10px;
  font-size: 18px;
  background: rgb(210, 171, 14);
  border: none;
  color: #fff;
  cursor: pointer;
}

.calculator .operator:hover {
  padding: 10px;
  font-size: 18px;
  background: rgb(101, 83, 10);
  border: none;
  color: #fff;
  cursor: pointer;
}


.calculator .equal {
  grid-column: span 3;
  background: #4caf50;
  color: #fff;
}

.calculator .equal:hover {
  grid-column: span 3;
  background: #245626;
  color: #fff;
}


/*media@*/

@media (max-width: 767px) {
  .calculator {
    width: 80%;
    background: #333;
    padding: 10px;
    border-radius: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .calculator {
    width: 60%;
    background: #333;
    padding: 10px;
    border-radius: 5px;
  }
}

@media (min-width: 1024px) {
  .calculator {
    width: 200px;
    background: #333;
    padding: 10px;
    border-radius: 5px;
  }
}