* > a {
  color: #ef8354;
  text-decoration: none;
}

* > a:hover {
  color: #ef8354;
  text-decoration: none;
}


body {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.texto {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: #c4bcb5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#result {
  width: 98%;
  height: 60px;
  margin-bottom: 10px;
  padding: 5px;
  background: #444;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 40px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.operando {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 5px;
  font-size: 40px;
}


button:hover {
  background: #777;
}

.calculator .operator {
  padding: 10px;
  font-size: 40px;
  background: #ef8354;
  border: none;
  color: #fff;
  cursor: pointer;
}

.calculator .operator:hover {
  padding: 10px;
  font-size: 32px;
  background: #8a5741;
  border: none;
  color: #fff;
  cursor: pointer;
}


.calculator .equal {
  grid-column: span 3;
  background: #4f5d75;
  color: #fff;
}

.calculator .equal:hover {
  grid-column: span 3;
  background: #2e3f5c;
  color: #fff;
}

.info {
  margin-top: 32px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;
  color: #c4bcb5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*media@ MOBILE*/

@media (max-width: 1500px) {
  .calculator {
    width: 80vw;
    height: auto;
    background: #333;
    padding: 10px;
    border-radius: 5px;
  }

  button {
    padding: 16px;
    font-size: 40px;
    background: #555;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  .operando{
    margin-top: 16px;
    font-size: 80px;
  }
}

/*media@ TABLET*/

@media (min-width: 1501px) and (max-width: 1700px) {
  .calculator {
    width: 50vw;
    height: auto;
    background: #333;
    padding: 10px;
    border-radius: 5px;
  }

  button {
    padding: 10px;
    font-size: 18px;
    background: #555;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  .operando{
    margin-top: 16px;
    font-size: 80px;
  }
}

/*media@ DESKTOP*/

@media (min-width: 1701px) {
  .calculator {
    width: 20vw;
    height: auto;
    background: #333;
    padding: 10px;
    border-radius: 5px;
  }

  button {
    padding: 10px;
    font-size: 18px;
    background: #555;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  .operando{
    margin-top: 16px;
    font-size: 80px;
  }
}